@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.multi-range-slider-container {
  max-width: 2000px;
  margin: 1em;
  width:30em;
}


.navy {
 background-color: #311d3f;
 }

.cardy {
  background-color:#422855;
}


.cardy:hover {
  background-color:#693e88;
}

.cardy-2 {
background-color:#ffffff;
}

.cardy-2:hover {
background-color: #c9c9c9;
}

@media (prefers-color-scheme: dark) {
  .iti {
    --iti-border-color: #000000;
    
    /* --iti-dialcode-color: #999999;
    --iti-dropdown-bg: #0d1117;
    --iti-arrow-color: #aaaaaa;
    --iti-hover-color: #30363d; */

  }
}
@media(max-width:768px){
  .video-3am {
    width:500px;
    height:315px;
  } 
}
@media(min-width:768px) {
  .video-3am {
    width:1000px;
    height:550px;
  }
  }

  .siteTitle {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


  .bodyPage {
    background-color:rgb(255, 255, 255);
  }

  .entirePage {
    background-color:#693e88;
  }